<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GL_Sensors_v0._2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @model IEnumerable<GL_Sensors_v0._2.Models.Measurement>
    <script src="../js/pahomqtt.js" type="text/javascript">
    </script>
    <script type="text/javascript" language="javascript">
        var mqtt;
        var reconnectTimeout = 2000;
        var host = "test.mosquitto.org"
        var port = 8081

        function onConnect() {
            console.log("Connected");
            mqtt.subscribe("sensor1")
            message = new Paho.MQTT.Message("Connected");
            message.destinationName = "sensor1";
            mqtt.send(message);
        }

        function onMessageArrived(msg) {
            //out_msg = "Message received: " + msg.payloadString + ", topic of the message is: " +msg.destinationName;
            //console.log(out_msg);
            var out_msg = msg.payloadString;

            //var out_msg2 = '{"second": "2", "third": "3", "first": "1"}'

            console.log("out_msg:");
            console.log(out_msg);
            if (out_msg != "Connected") {
                var json = out_msg;
                $.ajax({
                    url: '@Url.Action("AddData", "Measurement")',
                    type: 'post',
                    dataType: "json",
                    data: { "json": JSON.stringify(json)},
                    success: function (result) {
                        //Show your list here
                            if (data.success) {
                              console.log(data.sortedArticles);
                             }
                            else {
                             console.log("List empty or not found");
                            }
                    },
                    error: function (error) {
                         console.log(error)
                    }
                  });
            }


        }

        function MQTTconnect() {
            console.log("connectin to " + host + " " + port);
            mqtt = new Paho.MQTT.Client(host, port, "clientjs");
            var options = {
                timeout: 3,
                onSuccess: onConnect,
                useSSL: tls = true
            };
            mqtt.onMessageArrived = onMessageArrived;
            mqtt.connect(options, { rejectUnauthorized: false });
        }

        MQTTconnect()

        //to powinno przekazywać jsona do AddData w MeasurementsController


    </script>



    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GL_Sensors_v0._2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home_Kuba" asp-action="Index">Kuba</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home_Michal" asp-action="Index">Michal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home_Bartek" asp-action="Index">Bartek</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home_Kacper" asp-action="Index">Kacper</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GL_Sensors_v0._2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
